{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Email: {{ user.email }}</p>
{% endif %}
{% endblock %}